<!DOCTYPE html>
<html>
<head>
	<title>Website</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>

	<link rel="stylesheet" href="/stylesheets/front.css">
	<link rel="stylesheet" href="/stylesheets/login/front.css">
	<link rel="stylesheet" href="/stylesheets/login/tipsy.css">
	
	<link rel="stylesheet" href="/stylesheets/reset.css" />
	<link rel="stylesheet" href="/stylesheets/text.css" />
	<link rel="stylesheet" href="/stylesheets/960_24_col.css" />
	<link rel="stylesheet" href="/stylesheets/slider/nivo-slider.css" />
	<link rel="stylesheet" href="/stylesheets/slider/style.css" />
</head>
<body>
	<div class="container_12">
		<%= render 'layouts/header'%>
	
		<%= yield %>

		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
